@model Entidades.Cliente

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles Cliente</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreadoEn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreadoEn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActualizadoEn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActualizadoEn)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Regresar</a>
</div>
